<article class="event-card">
  <h3><%= link_to event.name, event %></h3>

  <% if event.description %>
    <p><%= event.description[0, 120] %></p>
  <% end %>

  <%= render 'events/event_details', locals: { event: event } %>
</article>
